services:
  - type: web
    name: emailthing
    env: docker
    region: oregon
    plan: starter
    dockerfilePath: ./Dockerfile
    envVars:
      - key: NODE_ENV
        value: production
      - key: RENDER
        value: "true"
